@use "../partials/palette";

.allHeaders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.allPages {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imageBox {
  margin-top: 15vh;
  margin-right: 50px;
  width: 42vw;
  height: 60vh;
  overflow-y: auto;
}

.images {
  @include palette.shadow;
  width: 45%;
  height: 45%;
  margin: 2%;
  border-radius: 25px;
  filter: grayscale(50%) blur(0.75px);
  transition: filter, box-shadow 0.3s ease;

  &:hover {
    @include palette.deepShadow;
    filter: grayscale(0%);
    cursor: pointer;
  }
}

.profilePic {
  @include palette.shadow;
  width: 100%;
  max-width: 400px;
  border-radius: 5%;
}

.homePage {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 70vh;
  width: 70vw;
  justify-content: space-around;
}

.homePageLeft,
.homePageRight {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 30vw;
  justify-content: center;
  align-items: center;
}

.landingTitle {
  font-size: 60px;
  margin-bottom: 20px;
}

.text {
  @include palette.shadow;
  @include palette.secondary;
  border-radius: 8px;
  padding: 20px;
}

.StackPage,
.AboutPage {
  display: flex;
  flex-direction: row;
  height: 70vh;
  text-align: center;
  justify-content: space-around;
  margin-top: 20vh;
}

.stackText,
.aboutText {
  @include palette.shadow;
  @include palette.secondary;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin: 25px;
  border-radius: 20px;
  padding: 50px;
  transition: box-shadow 0.3s ease;

  &:hover {
    @include palette.deepShadow;
  }
}

.aboutDividedTitle {
  border-bottom: 4px double #032b44;
}

.iconStyles {
  margin-bottom: 5vh;
}
