@use "../../partials/palette";

.TaskForm {
  @include palette.secondary;
  @include palette.shadow;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 50vh;
  border-radius: 15px;
  padding: 20px;
  margin-top: 10vh;
}

.formLine {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
  width: 90%;
}

.formBox {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.formButton {
  width: 20vw;
  min-width: 100px;
}
