@use "../../partials/palette";

.TaskForm {
  @include palette.secondary;
  @include palette.shadow;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70vw;
  height: 50vh;

  border-radius: 8px;
  padding: 20px;
}

.TaskLine {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3vh;
}

.TextBox {
  height: 10vh;
  margin-bottom: 3vh;
  text-align: center;
}

.Field {
  text-align: center;
}
